@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');
html, body{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', 'sans-serif';
}
main{
    padding: 20px;
    width: 900px;
    margin: auto;
    text-align: center;
}
form{
    padding: 20px;
    width: 400px;
    margin: auto;
    text-align: center;
}
form h1{
    padding-bottom: 30px;
    margin: auto;
}
.error{
    font-size: small;
    color: red;
}
.success{
    color: seagreen;
}