@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');
html, body{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', 'sans-serif';
}

form{
    padding: 20px;
    width: 400px;
    margin: auto;
    text-align: center
}

.form-group.success input{
    border-color: #09c372;
}
.form-group.error input{
    border-color: #ff3860;
}
.form-group .error{
    font-size: small;
    color: #ff3860;
}
